<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <div>
      <form class="form-inline" method="POST" action="/logout">
        <%if (user) { %>
        <div class="form-group mb-2">

          <p>Logged In As: <%= email %>!</p>
          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </div>
        <% } else { %>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../login">Login</a>
          <a class="nav-item nav-link" href="../register">Register</a>
        </div>

        <% }  %>
      </form>
    </div>
  </nav>
</header>

<!-- bootstrap inline form example -->
<!-- <form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form> -->